:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border:2px solid black;
  cursor: pointer;
}




.btn--outline {
  background-color: yellow;
  color: #000;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}


