.mask{
  width: 100%;
  height: 100vh;
  position: relative;
}

.into-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;

}
.content{
  color: #ebd8d8;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 50px;;
}

.mask::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  background-color: black;
  opacity: 0.8;
}

.hero{
  height: 100%;
  width: 100;
}
.hero .content{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left: 50%;
  text-align: center;
}

.hero .content h2{
  font-size: 2.9rem;
  padding: 0.6rem 0 1.5rem;
}

.hero .content p{
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
  font-weight: 200;
 
}

.content .btn{
  margin: 1rem 0.5rem;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}
h5,h2{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.content .dynamic-texts{
  margin-left: 15px;
  height: 90;
  line-height: 90px;

}
 .dynamic-texts h3{
  color:yellow;
  font-size: 40px;
  font-weight: 400;
  animation: typing 1.5s steps(10) infinite;
}

 @keyframes typing{
   100%{
     left: 100%;
     margin: 0 -35px 0 35px;
   } 
}
 .dynamic-texts h3 span{
  position: relative;
 }
 .dynamic-texts h3 span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: yellow;
  border-left: 2px solid yellow;

  }
  

  @media screen and (max-width: 640px) {
  .hero .content h2{
    font-size: 1.9rem;
   
  }
  
  .hero .content p{
    font-size: 1rem;
    
   
  }
  body{
    background-image: src='/images/soft.jpg';
    background-size: auto;
  }
}
  